/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'stam';
    src: url(/assets/fonts/StamAshkenazCLM.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'stam';
}